* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

/* Common style Start */

:root {
  --client-primary-color: #e10064;
  --client-secondary-color: #f2f4f5;
  --client-teritary-color: #000;
  --client-text-color: #fff;
  --client-fonts-color: #5c5f6a;
  --client-top-primary-color: #2f3336;
  --client-top-secondary-color: #676868;
  --client-boxshadow-color: #00000040;
  --client-border-color: #e4e7e9;
  --client-button-carousel-color: #f3f9fb;
}

.common-button {
  background-color: var(--client-primary-color) !important;
  color: var(--client-text-color) !important;
  border: none;
  width: 100%;
}

/* Common style End */

/*===== Sidebar Start =====  */

.navbar-vertical.navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  background-color: #f462a4;
}
.navbar-vertical.navbar-light .navbar-nav > .nav-item > .nav-link.active {
  background-color: #e10064;
}
.navbar-vertical.navbar-light .nav-link-text,
.navbar-vertical.navbar-light .navbar-heading {
  color: #ffff;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .sidebar_icon {
  color: #fff;
  font-size: 18px;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active .sidebar_icon {
  color: #fff;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover .sidebar_icon {
  color: #fff;
  font-size: 18px;
}

.sticky-top {
  z-index: 1030;
}

.sidebar {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

/*===== Sidebar End =====  */


/* Dashboard Start */

.dashboard_chart .card-title {
  margin-bottom: 0;
}

/*===== Table Start =====  */

.css-11yrv3u-MuiTableRow-root td {
  font-size: 12px !important;
  padding: 15px 20px !important;
}

.MuiTableBody-root tr td {
  padding: 7px 20px !important;
  font-family: "Outfit", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
}
.MuiTableBody-root tr:hover td::after {
  background-color: #f7f7f7 !important;
}
.MuiTableHead-root tr th {
  background-color: #ffffff !important;
  font-family: "Outfit", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
  border-top: 1px solid#b5b5b5 !important;
  border-bottom: 1px solid#b5b5b5 !important;
}

.MuiMenuItem-root {
  font-family: "Outfit" !important;
}

.MuiFormLabel-root {
  font-family: "Outfit" !important;
}

.badges-red {
  background-color: #fc2b39 !important;
  font-weight: 400;
  border-radius: 3px;
}

.badges-purple {
  background-color: #ee1891da !important;
  font-weight: 400;
  border-radius: 3px;
}

.css-3hpdci-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #287f71 !important;
}
.css-3hpdci-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #287f71 !important;
}
.css-3hpdci-MuiSvgIcon-root-MuiStepIcon-root {
  color: #329181c3 !important;
}

.database_name {
  color: #e10064;
  font-weight: 500;
}

.card_header {
  background-color: #ebedf0;
}

.btn-button {
  color: #fff;
  padding: 0.4rem 0.8rem;
  font-weight: 400;
  background-color: #e10064;
  border-color: #e10064;
}

.btn-button i {
  font-weight: 600;
}

.btn-button:hover {
  color: #fff;
  background-color: #e10064;
  border-color: #e10064;
}

.btn-check:focus + .btn-button,
.btn-button:focus {
  color: #fff;
  background-color: #e10064;
  border-color: #e10064;
  box-shadow: 0 0 0 0.25rem #53c2af;
}

.btn-check:checked + .btn-button,
.btn-check:active + .btn-button,
.btn-button:active,
.btn-button.active,
.show > .btn-button.dropdown-toggle {
  color: #fff;
  background-color: #e10064;
  border-color: #e10064;
}

.btn-check:checked + .btn-button:focus,
.btn-check:active + .btn-button:focus,
.btn-button:active:focus,
.btn-button.active:focus,
.show > .btn-button.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #fa010182;
}

.btn-button:disabled,
.btn-button.disabled {
  color: #fff;
  background-color: #ff3f3f;
  border-color: #ff3f3f;
}

.btn-button-check:checked + .btn-button,
.btn-button.active,
.btn-button.show,
.btn-button:first-child:active,
:not(.btn-button-check) + .btn-button:active {
  background-color: #e10064;
  border-color: #e10064;
  color: #fff;
}

.active_dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #287f71;
}

.onprocess_dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #f4e808;
}

.inactive_dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: red;
}

/* Loader Start */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  transform: rotate3d(90, 90, 0, 180deg );
  border-color: #e10064;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}

/* Loader End */

/*===== Table End =====  */

/* Back Button Start  */

.btn-border {
  padding: 0.4rem 0.7rem;
  border: 1px solid #424242;
  border-radius: 5px;
}

.btn-border:hover {
  border: 1px solid #424242;
  background-color: #cac8c8;
  border-radius: 5px;
}

/* Back Button Start  */

/*======= View Dot Start  ======*/

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: gray;
  border-radius: 50%;
}

.dot.active {
  background-color: #287f71;
}

/*======= View Dot End  ======*/

/*======= Navigate path Start  ======*/

.custom-breadcrumb {
  text-decoration: none;
  color: #000;
}
.custom-breadcrumb:hover {
  text-decoration: none;
  color: #0084ff;
  cursor: pointer;
}

.breadcrumb-separator {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.breadcrumb {
  font-size: 16px;
}

/*======= Navigate path End  ======*/

/* Common style End */

/* Company Start  */

/*==== Header Starts  ====*/

@media screen and (max-width: 380px) and (min-width: 320px) {
  .header-logo {
    max-width: 120px;
  }

  .navbar-toggler .button {
    max-width: 150px;
  }

  .button {
    max-width: 200px;
  }
}

.header {
  border-bottom: 0.5px solid #e1e1e1;
  background: #e10064;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navbar-nav .nav-link.active {
  color: aliceblue;
  font-size: calc(0.5rem + 0.5vw) !important;
}
@media (min-width: 992px) and (max-width: 1064px) {
  .navbar-nav .nav-link.active {
    font-size: calc(0.5rem + 0.4vw) !important;
  }
  .header .register_button {
    padding: 10px 0px !important;
  }
}
.header .register_button {
  border-radius: 0px;
  /* background-color: aquamarine; */
  padding: 10px 15px;
  font-weight: 600;
  font-size: calc(0.7rem + 0.4vw);
}
.header .num {
  background-color: #0dc648;
}

.header .nav-link {
  font-size: 90%;
}

/*==== Header Ends  ====*/

/*==== Header Ends  ====*/

/*==== Hero  ====*/
/* Partner Section */
.partner_top {
  width: 100%;
  text-align: center;
  background: linear-gradient(
      0deg,
      rgba(255, 147, 52, 0.7) 0%,
      rgba(255, 147, 52, 0.7) 100%
    ),
    url("../assets/helper_partner_hero.webp"), no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.h1-tag {
  color: #ffffff;
}
.h2-tag {
  color: #ffffff;
  font-size: medium;
}
.text-color {
  color: #ff4397;
}

.link_img {
  display: inline-block;
  width: 100px;
}

.custum-width {
  width: 87%;
}
@media (max-width: 767px) {
  .custum-width {
    width: 100%;
  }
}
.form-container input {
  flex: 0.3;
  padding: 10px;
  border: 1px solid #ff0099;
  border-radius: 10px;
  outline: none;
  font-size: calc(0.7rem + 0.5vw);
  color: grey;
}

.form-container input {
  flex: 0.3;
  padding: 10px;
  border: 1px solid #ff0099;
  border-radius: 10px;
  outline: none;
  font-size: calc(0.7rem + 0.5vw);
  color: grey;
}

.form-container input:focus {
  color: grey;
  border-color: #ff0099;
}

.form-container textarea:focus {
  color: grey;
  border-color: #ff0099;
}

.form-container input::placeholder {
  color: grey;
  font-size: 80%;
}

.form-container select {
  flex: 0.3;
  padding: 10px;
  border: 1px solid #ff0099;
  border-radius: 10px;
  outline: none;
  font-size: calc(0.7rem + 0.5vw);
}

.form-container select::placeholder {
  color: grey;
  font-size: 80%;
}

.custom-select {
  height: 55px;
  color: grey;
}

.form-container textarea {
  flex: 0.3;
  padding: 10px;
  border: 1px solid #ff0099;
  border-radius: 10px;
  outline: none;
  font-size: calc(0.7rem + 0.5vw);
}

.form-container textarea::placeholder {
  color: grey;
  font-size: 80%;
}

.form-container button {
  background-color: #ff0099;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 60px;
  font-size: 1rem;
  cursor: pointer;
  flex: none;
}

/* ==== FAQ and CTA Start ==== */

.text-ff4397 {
  color: #ff4397;
  font-weight: bold;
}
.accordion-item {
  border-radius: 5px;
}
.accordion-button {
  background-color: #ffffff;
  color: #333;

  border-radius: 5px !important;
  border: #ff96c4 0.5px solid;
}
.accordion-button:focus {
  border: #ff4397 1px solid;
  border-color: #ff4397;
  /* box-shadow: 0 0 0 .20rem #e100657a; */
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: #ff4397;
  color: #fff;
  box-shadow: none;
}

.accordion-body {
  background-color: #ffffff;
  border: 0.5px solid #efefef;
}
.accordion-button::after {
  background-image: url("../assets/plus.png");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../assets/mins.png");
}

.bottom_card {
  background-color: #ff4397;
}

.book_now_2 {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 15px 40px;
  color: #ff4397;
  font-weight: 700;
  border: 1px solid #ff4397;
  transition: all 0.3s ease;
}

.book_now_2:hover {
  background-color: #ffffff;
  color: #ff4397;
}

.book_now_2:active,
.book_now_2:focus {
  background-color: #ffffff !important;
  color: #ff4397 !important;
  outline: none !important;
  box-shadow: 0 0 0 2px rgba(255, 67, 151, 0.5) !important;
}
.bottom_card_ptag {
  font-size: small;
}

/* ==== FAQ and CTA End ==== */

/*==== Footer Start ====*/

.footer {
  /* height: 30vh; */
  background-color: #e10064;
}
.footer-title {
  font-weight: bolder;
  position: relative;
  color: #ffffff;
  top: 2px;
}
.footer-links .links {
  margin: 30px 0;
  padding: 5px;
  cursor: pointer;
}

.footer-links .links2 {
  margin: 30px 0;
  padding: 0px;
  cursor: pointer;
}

/*==== Footer End ====*/

/* Vendor Header  */

.header-user {
  cursor: pointer;
}

.dropdown-menu {
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1050;
}

.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.crop-container {
  position: relative;
  width: 100%;
  height: 400px;
  background: #333;
  margin-top: 1rem;
}

/* Profile  */

.profile-menu {
  display: flex;
  flex-direction: column;
  background: #e10064 !important;
  border-radius : 10px;
}

.profile-item {
  border: none;
  color: #fff;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.profile-item:hover {
  color: #f8b4b4;
}

.profile-item.active {
  color: #f8b4b4;
}

.badge_danger {
  color: #ff999d;
  background: #fcf0f0;
  font-size: 10px;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 8px;
}

.badge_warning {
  color: #ffac4d;
  background: #fff5eb;
  font-size: 10px;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 8px;
}
.badge_payment {
  color: #1c9c2d;
  background: #cbf8d174;
  font-size: 10px;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 8px;
}
